@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-center">
    <h1 style="color:blue" align="center">Welcome to my first website</h1>
    <h1 style="color:blue" align=" center">This WebSite created with this course</h1>
    <div align="center">
        <embed style="width:700px; height: 400px;" src="https://www.youtube.com/embed/hZ1DASYd9rk" />
    </div>
    <font size="4" style="width:700px; height: 100px;" align="left"> For more information contact <a href="mailto:bilolkobilov1@gmail.com">bilolkobilov1@gmail.com</a></font>
</div>



